# ignore libraries
node_modules

# ignore IDE file
.vscode

# ignore environmental variables
.env*
*/.env*

# ignore all files in scraping/ that are not .py, in the data subfolder
# of requirements.txt
scraping/*
!scraping/*.py
!scraping/data
!scraping/requirements.txt
